.messages-container {
  padding: 0.2em;
  overflow: auto;
  height: 85%;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #001528;
}

*::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 20px;
  border: 1px solid black;
}
